:root {
  --main-colour: #ededed;
}

body {
  background-color: var(--main-colour);
}

.container {
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2rem;;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  align-self: end;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  align-items: end;
  flex: 1;
}

.search-input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: none;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.search-dropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.search-result-item {
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-result-item:hover{
    background-color: cornflowerblue;
}

.switch {
  margin-left: auto;
}


.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.current-temperature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-temperature-container > p {
    text-transform: uppercase;
}

.city{
    font-size: 3rem;
}

.current-weather{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.current-weather img{
    width: 8rem;
}

.current-temperature{
    font-size: 6rem;
}

.description{
    font-size: 1.25rem;
}