:root {
  --main-colour: #ededed;
}

body {
  background-color: var(--main-colour);
}

.container {
  min-height: 100vh;
  max-width: 1000px;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  align-self: end;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  align-items: end;
  flex: 1;
}

.search-input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: none;
  margin: 0 auto;
}

.switch {
  margin-left: auto;
}
